<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<span sec:authorize="hasRole('超级管理员')" >
    This content is only shown to administrators.
</span>

<span sec:authorize="hasRole('正常用户')" >
    This content is only shown to normal user.
</span>

<div sec:authorize-url="/user/insertUser">
    can /user/insertUser
</div>

<div sec:authorize-url="/user/XXXXX">
    can /user/XXXXX
</div>

</body>

</html>