<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录界面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
        <form name="form" th:action="@{/login}" action="/login" method="post">
            <div class="line">
                <input placeholder="请输入账号" type="text" name="username" value="" />
            </div>
            <div class="line">
                <input placeholder="请输入密码" type="password"  name="password"  />
            </div>
            <div><span style="color: red" th:if="${param.error}" >用户名或密码错误</span></div>
            <!--<button type="button" class="logBut">登&nbsp;&nbsp;录</button>-->
            <!--<el-button class="logBut" @click="loginSubmit()">登&nbsp;&nbsp;录</el-button>-->
            <input type="submit" id="login1" value="登&nbsp;&nbsp;&nbsp;录" />
        </form>

<script>
</script>

</body>

</html>